<?xml version="1.0"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2023 Hippiemonkeys Web Intelligence EE (https://hippiemonkeys.com)
    Hippiemonkeys_Modification
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hippiemonkeys\Modification\Helper\Config\Section\Modification">
        <arguments>
            <argument name="modificationFlagField" xsi:type="string">active</argument>
        </arguments>
    </type>
    <virtualType name="Hippiemonkeys\Modification\Helper\Config\Section\Group\General" type="Hippiemonkeys\Core\Helper\Config\Section\Group\Sub">
        <arguments>
            <argument name="section" xsi:type="string">hippiemonkeys_modification</argument>
            <argument name="group" xsi:type="string">general</argument>
            <argument name="activeField" xsi:type="string">active</argument>
            <argument name="parentConfig" xsi:type="object">Hippiemonkeys\Core\Helper\Config\Section\General</argument>
        </arguments>
    </virtualType>
</config>