<?xml version="1.0"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2023 Hippiemonkeys (https://hippiemonkeys.com)
    Hippiemonkeys_Core
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="hippiemonkeys_modification" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Modifications</label>
            <class>separator-top</class>
            <tab>hippiemonkeys</tab>
            <resource>Hippiemonkeys_Modification::config</resource>
            <group id="general" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1">
                <label>General</label>
                <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="hippiemonkeys_core/general/active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>